/.vscode
/__pycache__
KNS_DocumentBill_docs/
KNS_DocumentBill_extracted_texts/
logs/
logs/g_log.txt
KNS_DocumentPlenumSession_docs/
KNS_DocumentPlenumSession_extracted_texts/
KNS_DocumentBill_extracted_texts/
KNS_DocumentCommitteeSession_docs/
KNS_DocumentCommitteeSession_extracted_texts/
knesset_dataset.zip
odata_jsons/KNS_DocumentCommitteeSession_72825L.json
odata_jsons/
KNS_Committee_metadata_jsons/
KNS_PlenumSession_metadata_jsons/
